body{
  background-image: linear-gradient(-90deg, #E3DDE3, #E9EBED);



}
.navbar-brand{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
}


.navbar-right a{
  font-size: 4.2em;

}
.navbar-right form{
  padding-top: 13px;
}

.mybox{
  width: 100%;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  border-bottom: 1px solid #3b526a;
  outline: 0;
  cursor: pointer;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2em;
  background: none;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;


}

.mybox:focus{
  border-bottom: 2px solid #34495e;

}
.artist{
  padding-bottom: 10px;
}

.artistinfo h3,h4{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.artistinfo h3{
  font-weight: 200;

}
.addinfo{
  padding-top: 1%;
}
@media (max-width: 600px) {
  .addinfo{
    padding-top: 3%;
  }
  .artistinfo h3{
    font-size:30px;
  }
  .artistinfo h4{
    font-size:20px;
  }
}
.navbar{
  opacity: 0.96;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.57);
box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.57);
}
@media (max-width: 600px) {
  .fullinfo{
    padding-left: 6%;
    padding-right: 3%;


  }
  .navbar-header{
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.67);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.67);
  }

}
@media (max-width: 700px) {
  .addinfo{
    padding-top: 3%;
  }

}

.img-responsive{
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.58);
}
#submitbtn{
  display: none;
}

.artist{
    /*border-bottom: 0.5px solid #3d566e;*/
}

/*scrolltop*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(44,62,80, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*scrolltopend*/
